__pycache__/
.DS_Store
.ipynb_checkpoints/
.mypy_cache/
todos.md
outputs/
outputs_search/
checkpoints/


data/AbstractScenes_v1.1/
data/CoDraw-master
data/cr_anno_adjudication/
data/cr_anno_part1_sg/
data/cr_anno_part2_sr/
data/IncrementalCoDrawImages/DrawerScenes
data/preprocessed/images/
data/preprocessed/texts/

# do not ignore codraw_data.py because it needs small edits
# codrawmodels/codraw_data.py
codrawmodels/untitled.txt
codrawmodels/transcripts-eval-v1.json
codrawmodels/abs_render.py
codrawmodels/nkfb_util.py
codrawmodels/abs_metric.py
codrawmodels/example.eval_server_common.py
codrawmodels/baseline3_models.py
codrawmodels/LICENSE
codrawmodels/baseline4_eval.py
codrawmodels/baseline1_eval.py
codrawmodels/baseline3_eval.py
codrawmodels/eval_transcripts.py
codrawmodels/saved_models.py
codrawmodels/episode.py
codrawmodels/exp28_scenenn.py
codrawmodels/eval_run_bots.py
codrawmodels/interactivity.py
codrawmodels/baseline2_eval.py
codrawmodels/baseline4_train.py
codrawmodels/CONTRIBUTING.md
codrawmodels/.git
codrawmodels/.gitignore
codrawmodels/__pycache__
codrawmodels/baseline3_train.py
codrawmodels/packer.py
codrawmodels/abs_util_orig.py
codrawmodels/baseline1_train.py
codrawmodels/baseline2_models.py
codrawmodels/README.md
codrawmodels/eval_automatic.py
codrawmodels/model.py
codrawmodels/datagen.py
codrawmodels/baseline4_models.py
codrawmodels/CODE_OF_CONDUCT.md
codrawmodels/baseline2_train.py
codrawmodels/attention.py
codrawmodels/baseline1_models.py